{{ $jquery := resources.Get "js/vendor/jquery-2.1.3.min.js" | fingerprint }}
<script src="{{ $jquery.Permalink }}" integrity="{{ $jquery.Data.Integrity }}"></script>
{{- if isset .Site.Params "highlight" -}}
    {{ $highlight := resources.Get "js/highlight.pack.js" | minify | fingerprint }}
    <script src="{{ $highlight.Permalink }}" integrity="{{ $highlight.Data.Integrity }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{{- end -}}
{{- range .Params.include_js }}
    {{ $js := resources.Get (printf "js/posts/%s" .) | minify | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{- end }}
</body>
</html>
