{{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/vendor/lunr.min.js"></script>
<script>
  var lunrIndex,
      $results,
      pagesIndex;

  function initLunr() {
    $.getJSON('js/lunr/PagesIndex.json')
        .done(function(documents) {
            console.log('index:', documents);
            pagesIndex = documents;
            lunrIndex = lunr(function() {
                this.field('title');
                this.field('tags');
                this.field('content');
                this.ref('href');

                for (var i = 0; i < documents.length; ++i) {
                    this.add(documents[i])
                }
            });
        }).fail(function(jqxhr, textStatus, error) {
            var err = textStatus + ', ' + error;
            console.error('Error getting index file:', err);
        });
  }

  function initUI() {
    $results = $('#results');
    $('#search').keyup(function() {
        $results.empty();
        // only search when query has 2 characters or more
        var query = $(this).val();
        if (query.length < 2) {
            return;
        }
        var results = searchSite(query);
        renderResults(results);
    });
  }

  function searchSite(query) {
    return lunrIndex.search(query).map(function(result) {
        return pagesIndex.filter(function(page) {
            return page.href === result.ref;
        })[0];
    });
  }

  function renderResults(results) {
    if (!results.length) {
        return;
    }

    results.slice(0, 10).forEach(function(result) {
        var $result = $('<li>');
        $result.append($('<a>', {
            href: result.href,
            text: '» ' + result.title
        }));
        $results.append($result);
    });
  }

  initLunr();

  $(document).ready(function() {
    initUI();
  });
</script>
</body>
</html>
